ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  float:left;
  position: relative;
  left: 50%;
}
ul li {
  float: left;
  position: relative;
  right: 50%;
  border-radius: 0.5em 0.5em 0 0;
  display: block;
}
ul li a {
  text-decoration: none;
  color:black;
  padding: 0.9375em;
  display: block;
}
ul li:hover {
  background-color: #E8A87C;
